<div style="margin-bottom: 32px;margin-top:240px">
	<img src="http://media.wekeroad.com/SubSonicSMall.png" alt="">
</div>
<hgroup>
  {% if site.subtitle %}
    <h2>{{ site.subtitle }}</h2>
  {% endif %}
</hgroup>
<nav id="main-nav">{% include navigation.html %}</nav>
<nav id="sub-nav">
	<div class="social">
		{% if site.email %}
			<a class="email" href="mailto:{{ site.email }}" title="Email">Email</a>
		{% endif %}
		{% if site.twitter_user %}
			<a class="twitter" href="http://twitter.com/{{ site.twitter_user }}" title="Twitter">Twitter</a>
		{% endif %}
		{% if site.github_user %}
			<a class="github" href="https://github.com/{{ site.github_user }}" title="GitHub">GitHub</a>
		{% endif %}
		{% if site.subscribe_rss %}
			<a class="rss" href="{{ site.subscribe_rss }}" title="RSS">RSS</a>
		{% endif %}
	</div>
</nav>
